@charset "UTF-8";

html, body {
	width: 100%;
	height: 100%;
	min-height: 300px;
	padding: 0em;
	margin: 0em;
}

#top_btn_wrapper {
	height: 10%;
	text-align: center;
}

#top_btn_wrapper table {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	border-spacing: 0em;
}

#top_btn_wrapper td {
	width: 25%;
}

.tab_btn {
	width: 100%;
	height: 100%;
}

.contents_wrapper {
	height: 80%;
}

.contents_tbl {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	border-spacing: 0em;
	table-layout: fixed;
	text-align: center;
}

.decimal_in {
	width: 90%;
	height: 90%;
}

.calc_btn_wrapper {
	height: 10%;
	text-align: center;
}

#calc_btn {
	width: 100%;
	height: 100%;
}

input[type=button] {
	background-color: silver;
	border: solid 0.1em gray;
	text-align: center;
	cursor: pointer;
}

input[type=button]:hover {
	background-color: gray;
	color: white;
}

#interp_img {
	background-image: url("../img/interp.png");
	background-repeat: no-repeat;
	background-size: 90% 90%;
	background-position: center center;
}