@charset "UTF-8";

html, body {
	width: 100%;
	height: 100%;
	max-width: 400px;
	max-height: 600px;
	min-height: 300px;
	padding: 0em;
	margin: 0em;
	background-color: rgb(235, 235, 235);
	font-size: 12px;
	word-break: keep-all;
	white-space: normal;
}

select {
	width: 100%;
	height: 100%;
	max-height: 3em;
	font-size: 1em;
	box-sizing: border-box;
}

table {
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0em;
}

#top_btn_wrapper {
	height: 10%;
	text-align: center;
	background-color: white;
}

#top_btn_wrapper table {
	width: 100%;
	height: 100%;
}

#top_btn_wrapper td {
	width: 20%;
}

.tab_btn {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	white-space: normal;
}

.contents_wrapper {
	height: 80%;
	padding-left: 0.5em;
	padding-right: 0.5em;
	background-color: white;
}

.contents_tbl {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	border-spacing: 0em;
	text-align: center;
	overflow: hidden;
}

.decimal_in {
	width: 100%;
	height: 100%;
	max-height: 3em;
	box-sizing: border-box;
}

.calc_btn_wrapper {
	height: 10%;
	text-align: center;
	background-color: white;
}

#calc_btn {
	width: 100%;
	height: 100%;
	font-size: 1.2em;
}

input {
	font-size: 1em;
}

input[type=button] {
	background-color: silver;
	border: solid 0.1em gray;
	text-align: center;
	cursor: pointer;
}

input[type=button]:hover {
	background-color: gray;
	color: white;
}

#interp_img {
	background-image: url("../img/interp.png");
	background-repeat: no-repeat;
	background-size: 90% 90%;
	background-position: center center;
}

#calc_angle_img {
	background-image: url("../img/triangle.png");
	background-repeat: no-repeat;
	background-size: 90% 90%;
	background-position: center center;
}

.open_manual_dlg_btn {
	height: 90%;
	width: 80%;
	box-sizing: border-box;
}

#manual_dlg_wrapper {
	z-index: 96;
    pointer-events: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

#manual_dlg {
	z-index: 97;
	position: fixed;
	top: 20px;
	bottom: 20px;
	max-height: 560px;
	left: 20px;
	right: 20px;
	max-width: 360px;
	background-color: white;
}

#manual_dlg table {
	width: 100%;
	height: 100%;
}

#manual_dlg th {
	text-align: center;
	border: solid 1px gray;
}

#manual_dlg td {
	border: solid 1px gray;
}